:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(0, 0, 0);
  --colorShadeB: rgb(0, 0, 0);
  --colorShadeC: rgb(0, 0, 0);
  --colorShadeD: rgb(232, 230, 187);
  --colorShadeE: rgb(255, 213, 0);
  --colorShadeF: rgb(78, 77, 50);
  --colorShadeG: rgb(238, 235, 206);
  --colorShadeH: rgb(185, 186, 120);
}
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@800&family=Rubik:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playpen Sans', sans-serif;
}
body {
  font-family: 'Playpen Sans', sans-serif;
  /*background-color: rgb(255, 252, 229);*/
  background-color: rgb(251, 245, 218);
}
header {
  background: rgb(0, 0, 0);
  font-family: 'Playpen Sans', sans-serif;
}

li {
  list-style: none;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Playpen Sans', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  font-family: 'Playpen Sans', sans-serif;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.5s ease;
  font-family: 'Playpen Sans', sans-serif;
  
}

.nav-link:hover {
  color: #ebfea4;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
  border-radius: 5px;
}

.nav-item {
  padding: 0 1.5rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  margin-right: 100px;
}

.text-container {
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Playpen Sans', sans-serif;
  text-decoration: none;
  color: black
  text-align: center;
  margin: 0;
}

.big-button {
  
  background-color: #eaeaea;
  text-decoration: none;
  color: var(--colorShadeA);
  margin-top: 40px;
  border: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
  button.big-button {
    padding: 0.2em 4em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  button.big-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB);
    transform: translate3d(0, 0.4em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }

  button.big-button:hover {
    background: rgb(254, 231, 113);
    transform: translate(0, 0.1em);
  }

  button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }

  button.big-button:active {
    transform: translate(0em, 0.75em);
  }

  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);

    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  }


h2 {
  padding-left: 30px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 100%;
}

p1 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  
}

container1 {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  
}
footer{
    
    bottom: 0;
    margin-top: 100px;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
  margin-bottom: 0;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #fffca8;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
h3 {
  text-align: center;
  margin-bottom: 250px;
  margin-top: 250px;
  font-size: 3rem;
}
 

@media only screen and (max-width: 600px) {
  .bar {
    display: block;
  }

  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11.5px);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11.5px);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: black;
    transition: 0.3s;
    z-index: 9999;
  }

  .nav-item {
    padding: 1.5rem 0;
  }

  .nav-menu.active {
    right: 0;
    font-family: 'Playpen Sans', sans-serif;
  }
 
  .big-button {
    font-size: 1rem;
  }
  
  button.big-button {
    font-size: 1.2rem; 
    padding: 0.15em 3em; 
    margin-bottom: 250px;
  }
  .footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
  }

  .container {
    flex-direction: column;
    overflow-x: hidden;
  }

  .text-container {
    font-size: 65%;
    text-align: center; 
  }
    }